<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcs.beautybackend.mapper.SystemsettingMapper">

    <resultMap id="BaseResultMap" type="com.lcs.beautybackend.model.entity.Systemsetting">
            <id property="id" column="id" />
            <result property="settingKey" column="settingKey" />
            <result property="settingValue" column="settingValue" />
            <result property="description" column="description" />
            <result property="updateTime" column="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,settingKey,settingValue,description,updateTime
    </sql>
</mapper>
